body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h2{
    text-align: center;
}
h1 {
    
    color: red;
}
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 10px;
}
table th, .route-table td {
    border: 1px solid grey;
    padding: 10px;
    text-align: left;
}
table th {
    background-color: red;;
}
table caption {
    font-size: 1.2em;
    margin-bottom: 10px;
}
 tr:nth-child(even) {
    background-color: grey;
}
table tr:hover {
    background-color: grey;
}